@import '../../../assets/styles/_vars';

.wrapper {
  height: 70px;
  color: $font-primary-color;
  background-color: $error-bg-color;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;

  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
