@import '../../../../../assets/styles/_vars';

.column {
  display: block;
  background-color: $secondary-background-color;
  border-radius: 16px;
  margin: 15px;
  padding-bottom: 5px;
  height: calc(100vh - 120px);
}

.column-name {
  font-size: 22px;
  margin: 15px 25px;
}

.cards_wrapper {
  max-height: calc(100vh - 180px);
  margin: 5px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 9em;
    background-color: $secondary-background-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-background-color;
    border-radius: 9em;
  }
}
