.new-card {
  position: relative;
  margin: 15px;
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
  border: 2px solid white;
  padding: 5px;
  color: black;

  img {
    height: 100px;
    width: 100%;
    object-fit: cover;
  }

  input,
  textarea {
    font-family: inherit;
    margin: 5px 0;
    width: 90%;
  }

  input {
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
  }

  textarea {
    height: 60px;
  }

  .new-card_buttons {
    display: flex;

    .button {
      min-width: 50px;
    }
  }

  .new-card_choose-img {
    position: absolute;
  }
}
