@import '../../../assets/styles/vars';

.header {
  display: flex;
  padding: 10px 20px;
  background-color: $secondary-background-color;

  h1 {
    padding: 10px;
    font-size: 26px;
    flex-grow: 1;
  }
}
