@import '../../../../../assets/styles/vars';

.hide-modal {
  display: none;
}

.modal-wrapper {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $transparent-background-color;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal {
  background-color: $primary-background-color;
  padding: 20px;
  border-radius: 15px;
  z-index: 3;
}
