@import './styles/normalize';
@import './styles/header';
@import './styles/column';
@import './styles/my-button';
@import './styles/card';
@import './styles/new-card';
@import './styles/module';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-family: Roboro, Arial, sans-serif;
  box-sizing: border-box;
}

.App {
  position: relative;
}

.wrapper {
  width: 90%;
  margin: 5px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: calc(100vh - 100px);
}

.loader {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

