// font
$main-font: Roboro, Arial, sans-serif;

// colors
$font-primary-color: white;
$font-secondary-color: black;

$primary-background-color: black;
$secondary-background-color: #262626;

$card-background-color: #6a6dcd;
$select-column-bg-color: #6a6dcd8a;
$new-card-form-bg-color: white;

$transparent-background-color: #00000070;

$button-primary-bg-color: #3f4072;
$button-hover-bg-color: #6869b6;
$button-active-bg-color: black;

$error-bg-color: red;
